[Desktop Entry]
Type=Application
Version=1.0
Name=ARChon Executor
Comment=Execute Android APKs
Exec=archon-exec %f
Terminal=false
NoDisplay=true
MimeType=application/vnd.android.package-archive
